/* TODO: IT19180526 - Chandrasiri S A N L D */

#introduction .introduction-container {
    height:100vh;
    color: white;
    text-align: center;
    padding: 0 15px;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    display: -webkit-box;
    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    flex-direction: column;
}

.introduction-image {
    background-image: url('../images/Homepage/Homepage4.jpg');
    background-size:100% auto;
}

.nav-color-custom {
    background-color: #212121;
}

#keynotes .keynote-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#about .about-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#news .news-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#news .singleNews {
    /*background: #bbdefb;  */
    /* fallback for old browsers */
    background: linear-gradient(to bottom, #ccffff 0%, #66ffff 100%);
    border-radius: 15px;
    /*background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  */
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#gallery .gallery-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#ctracks .ctracks-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#organize .organize-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#sponsor .sponsor-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}

#idates .idates-container {
    padding: 50px;
    background-color: white;
    text-align: center;
    /*overflow-x: hidden;*/
}